/.DS_Store
age-calculator/src/design/mobile-design.jpg
age-calculator/src/design/desktop-preview.jpg
age-calculator/src/design/desktop-error-whole-form.jpg
age-calculator/src/design/desktop-error-invalid.jpg
age-calculator/src/design/desktop-error-empty.jpg
age-calculator/src/design/desktop-design.jpg
age-calculator/src/design/desktop-completed.jpg
age-calculator/src/design/active-states.jpg
