:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: hsl(0, 0%, 94%);
  padding: 40px;
}

.App {
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 15px;
  border-bottom-right-radius: 15rem;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 50vw;
}

.inputLabelContainerList {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5%;
  margin-left: 20px;
}

.inputLabelContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.label {
  color: hsl(0, 1%, 44%);
  font-weight: bolder;
}

.customInput::-webkit-inner-spin-button,
.customInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.customInput {
  width: 8rem;
  height: 2rem;
  border-width: 1px;
  border-radius: 15px;
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.customInput:focus{
  border-color: hsl(259, 100%, 65%);
  outline: none;
  caret-color: hsl(259, 100%, 65%);
}

.calculateAgeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontalLine {
  width: 100%;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 25px;
  height: 0;
}

.arrowBtn {
  width: 60px;
  height: 60px;
}

.arrowBtn:hover {
  cursor: pointer;
  opacity: .9;
}

.ageTextContent {
  display: 'flex';
  flex-direction: column;
  font-size: 45px;
  text-align: start;
}

.ageTextContent > h1 {
  margin: 0;
  padding: 0;
}

.propValue {
  color: hsl(259, 100%, 65%);;
}